/* colors, #71ccd4 - blue green, #232323 - dark grey BG, #646464 - med grey TEXT */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Comfortaa', cursive; */


body {
    background-image: url('https://i.postimg.cc/cJxRf6TF/NEW-Japan-Print-Updated.png');
    display: flex;
    flex-direction: column;
    grid-template-rows: 20px 20px 1fr 30px;
    max-width: 100%;

}

.glowBox {
    background-color: #232323;
    max-width: 900px;
    border: 10px;
    padding: 10px; 
    margin: 20px auto 0 auto;
    border-radius: 5px;
}

.glow {
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 10px 0 10px 50px;
    float: right;
    text-align: right;
} 

.icon {
    margin: 20px;
    width: 4%;
    align-items: auto;
    float: left;
    text-align: left;
}

.glow:hover {
    text-shadow: 0 0 7px #ffffff;
    text-shadow: 0 0 10px #ffffff;
    font-weight: bolder;
    text-align: right;
    
}

.navbar {
    max-width: 900px;
    background-color: white;
    margin: auto;  
}
.navItems:link, .navItems:active, .navItems:visited { 
    text-decoration: none; 
    color: #646464;
}

.navItems:hover {
    color: #71ccd4;
}

.navItems {
    display: inline-block;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;   
}

.bodyMain {
    max-width: 900px;
    background-color: white;
    margin: auto;
}

h2 {
    color: #d3d2d2;
    padding: 50px 0 10px 0;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}

.content {
    max-width: 900px;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 0 0 15% 0;
}
.contentleft {
    margin: auto;
}

.contentCenter {  
    margin: auto;
    color: #646464;
    font-family: 'Pacifico', cursive; 
    text-align: justify;
}

.contentRight {
    margin: auto;
}
.footer{
    max-width: 900px;
    margin: auto;
    border-radius: 5px;
    background-color: #474747;      
    bottom: 10px;
    padding: 1%;
}
.social {
    float: left;
    text-align: left;
    width: 20%;
    padding: 4px;
    
}
.emailMe {
    float: right;
    text-align: right;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    text-decoration: none; 
    padding: 4px;
}
.emailMe:hover {
    color:#71ccd4;  
}


















@media (max-width: 480px) {
    h1 {
      font-size: 40px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 20px 12px 0 12px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }
  }