/* colors:  NAVY #282d3c, CORAL #ff4848, EMERALD #009d47, GOLDEN #f1b71c, HIBISCUS #ff8271, SAGE #badeba, MedNAVY #024468, OCEAN #005994 */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Comfortaa', cursive; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 100%;

}
.bodyHome {
    background-image: url('https://i.postimg.cc/cJxRf6TF/NEW-Japan-Print-Updated.png');

}

.glowBox {
    background-color: #282d3c;
    background: linear-gradient(to right bottom, #005994, #282d3c, #282d3c);
    opacity: .9;
    max-width: 900px;
    border: 10px;
    padding: 10px 50px 0 50px; 
    margin: 20px auto 0 auto;
    border-radius: 11px 11px 0 0;
}

.glow {
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 10px 0 10px 50px;
    float: right;
    text-align: right;
} 

.icon {
    margin: 1%;
    width: 4%;
    float: left;
    text-align: left;
    
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 4px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger:hover {
        text-shadow: 0 0 7px #ffffff;
        text-shadow: 0 0 10px #ffffff;  
}

.glow:hover {
    text-shadow: 0 0 7px #ffffff;
    text-shadow: 0 0 10px #ffffff;
    font-weight: bolder;
    text-align: right;
    cursor: pointer;    
}

.navbar {
    max-width: 900px;
    background-color: white;
    opacity: .9;
    margin: auto;  
    justify-content: left;
    padding: 20px;
}

.navItems:link, .navItems:active, .navItems:visited { 
    text-decoration: none; 
    color: #282d3c;
    
}

.navItems:hover {
    color: #ff8271;
    transition: 0.5s ease-out;
}

.navItems {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px; 
}

h2 {
    color: #282d3c;
    padding: 60px 0 0 0;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
}

.content {
    max-width: 900px;
    height: auto;
    background-color: white;
    opacity: .9;
    margin: auto;
    padding: 0 0 11% 0;
}

.contentCenter {  
    margin: auto;
    color: #005994;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}


.footer{
    max-width: 900px;
    margin: auto;
    border-radius: 0 0 11px 11px;
    background-color: #282d3c;
    background: linear-gradient(to right bottom, #282d3c, #282d3c, #005994);
    opacity: .8;      
    bottom: 10px;
    padding: 1%;
}
.social {
    float: left;
    text-align: left;
    width: 20%;
    padding: 4px;  
}

.media:hover {
   box-shadow: 0 0 7px #ffffff;;
}

.emailMe {
    float: right;
    text-align: right;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    text-decoration: none; 
    padding: 1%;
    
}

.emailMe:hover {
    text-shadow: 0 0 7px #ffffff;
    text-shadow: 0 0 10px #ffffff;  
}

/* --------------@MEDIA QUERY---------- */
/* My Site is set to 900px (LG) */

@media (max-width: 768px) {  /* MEDIUM 768px (most tablets) min-width -------------------------------------------------- */

    .glow {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        max-width: 100%;       
    }
    .hamburger {
        display: block;
        float: right;
        text-align: right; 
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        opacity: 0;
    }
    .navbar {
        position: fixed;
        font-size: larger;
        right: -100%;
        top: 100px;
        gap: 0;
        display: block;
        background-color: #282d3c;
        color: white;
        opacity: 1;
        width: 100%;
        padding: 0 0 0 150px;
        margin: 0;
        border: 0;
        float: right;
        text-align: right;
        transition: 0.3s;
        z-index: 1; /* set higher z-index value */ 
    }
    .navbar.active {
        right: 0;
    }
        
    .glowBox {
        background-color: #282d3c;
        background: linear-gradient(to right bottom, #005994, #282d3c, #282d3c);
        opacity: .9;
        max-width: 100%;
        height: 80px;
        border-radius: 11px 11px 0 0;
    }
    
    .icon {
        margin: auto;
        width: 50px;
        float: left;
        text-align: left;
        justify-content: center;
    }

    .navItems:link, .navItems:active, .navItems:visited { 
        text-decoration: none; 
        color: white;
    }
    
    .navItems:hover {
        color: #ff8271;   
    }
    
    .navItems {
        display: block;
        font-family: 'Poppins', sans-serif;  
    }
    
    .contentLeft{
        visibility: hidden;
    }

    .content {
      max-width: 100% !important;  
      display: inline-block;
    }

    h2 {
        color: #282d3c;
        padding-top: 40px;
        font-family: 'Comfortaa', cursive;
        font-weight: bolder;
    }

    .contentCenter { 
        color: #005994;
        font-family: 'Poppins', sans-serif;
        text-align: justify;
        width: 100%;
        padding: 60px 60px 200px 60px;
    }
     .contentRight{
        visibility: hidden;
    }
    .footer{
        max-width: 100%;
        margin: auto;
        border-radius: 0 0 11px 11px;
        background-color: #282d3c;
        background: linear-gradient(to right bottom, #282d3c, #282d3c, #005994);
        opacity: .8;      
        bottom: 5px;
        padding: 1%;
    }
    .social {
        display: flex;
        float: left;
        text-align: left;
        width: 30px;
        margin: 0 10px;
    }
    
    .media:hover {
        box-shadow: 0 0 7px #ffffff;;
    }
    
    .emailMe {
        float: right;
        text-align: right;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 14px;
        text-decoration: none; 
        padding: 1%;
    }
    
    .emailMe:hover {
        text-shadow: 0 0 7px #ffffff;
        text-shadow: 0 0 10px #ffffff;  
    }    
    }

/* --------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------*/
    
    /* ABOUT PAGE */

    .bodyAbout {
        background-image: url('https://i.postimg.cc/zfc3pL5p/NEW-Midnight-Repeat-24x24.png');
    }

/* --------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------*/
    
    /* RESUME PAGE */

    .bodyResume {
        background-image: url('#');
    }

    /* --------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------*/
    
    /* PROJECTS PAGE */

    .bodyProjects {
        background-image: url('#');
    }

/* --------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------*/
    
    /* CONTACT PAGE */

    .bodyContact {
        background-image: url('#');
    }
    
    
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/

    /* MEDIA QUERY */   

    @media (max-width: 480px) { /*-------------------------------------------------------- */
        .contentCenter {
            padding: 20px 15px 200px 15px;
        }
    }

    @media (max-width: 320px) { /*-------------------------------------------------------- */

        .contentCenter {
            padding: 20px 15px 200px 15px;
        }
        .social {
            margin: 0 5px;
        }
        .emailMe{
            margin: 0 5px ;
        }
    }